.catalog {

    &__head {
        // @include adaptiveClamp(margin-bottom, 72, 36.5);
        p {
            color: var(--bs-gray-500);
            @include adaptiveClamp(font-size, 20, 16);
            @include adaptiveClamp(margin-bottom, 12, 5);
            white-space: nowrap ;
        }
    }

    &__btn-grid {
        width: rem(28);
        height: rem(28);
        cursor: pointer;
        svg {
            path {
                transition: all 0.3s ease  0s;
                fill: #A6A6A6;
            }
        }



        &:hover {
            svg {
                path {
                    fill: var(--bs-font-color);
                }
            }
        }
        &._active {
            pointer-events: none;
            svg {
                path {
                    fill: var(--bs-orange);
                }
            }
        }
    }
    &__ftr-open {
        font-size: rem(11);
        padding-right: rem(10);
        img {
            width: rem(26);
            height: rem(26);
        }
    }

    &__sort {
        .dropdown-menu .dropdown-item {
            font-size: rem(14) ;
        }
    }
    &__btn-sort {
        font-size: rem(11);
        // padding: 0;
        background: none;
        // border: none;
        color: var(--bs-body-color);
        height: 100%;
        font-weight: 400;
        img {
            width: rem(15.12);
            height: rem(15.12);
        }

        &::after {
            display: none;
        }
        
    }
}


.category {
    // @include adaptiveClamp(margin-bottom, , );
    .row {
        
    }
    &__item {
   
    }
    &__item-fon {
        top: 0;
        right: 0;

        @media(max-width:480px){
            right: -15%;
        }
    }

    &__item-body {
        position: relative;
        @include adaptiveClamp(padding, 18, 14);
        border-radius: var(--bs-radius);
        border: rem(1) solid #e5e5e5;
        @include adaptiveClamp(height, 160, 100);
        display: flex;
        align-items: end;
        box-shadow: var(--bs-shadow);
        transition: background-color 0.3s ease  0s;
        overflow: hidden;
        padding-right: 30% !important;

        div {
            position: relative;
            z-index: 1;
            @include adaptiveClamp(font-size, 19, 14);
            
        }

        &:hover {
            background-color: var(--body-second);
        }
    }
}


.prod-card {
    .catalog-row-rect & {
        // @media(min-width:576px){
            width: 100% !important;

            .prod-card__content {
                flex-direction: row !important;
            }
            .prod-card__body {
                padding-top: rem(15);
                padding-right: rem(15);
                padding-left: rem(15);
                flex: auto;
                height: 100%;
            }
            .prod-card__top {
                // flex: auto;
                height: 100%;
            }
            .prod-card__img-box {
                height: auto;
            }
            .prod-card__title {
                max-width: rem(580);
            }
            .prod-card__top {
                width: rem(200);
            }

            .prod-card__star-row, div.prod-card__text  {
                grid-column: 2 span;
            }
        // }

        @media(min-width:768px){
            .prod-card__price {
                margin-bottom: 0;
            }
            .prod-card__btn {
                margin-top: rem(-39);
                margin-left: auto;
                font-size: rem(15);
            }
            div.prod-card__title {
                font-size: rem(20) !important;
            }
            .prod-card__text{
                font-size: rem(16);

                &.big {
                    font-size: rem(22);
                    margin-bottom: rem(-1);
                }
            }
            .prod-card__body {
                padding-top: rem(15);
                padding-right: rem(20);
                padding-left: rem(20);
            }
            .prod-card__top {
                padding-bottom: rem(5);
            }
            .prod-card__star {
                width: rem(15);
                height: rem(15);
            }
            .prod-card__star-text {
                font-size: rem(13);
                margin-bottom: rem(-4.5);
            }
        }
        
        @media(min-width:576px) and (max-width:767px) {
            .prod-card__title {
                font-size: rem(13) !important;
            }
        }

    }

    &__content {
        background: var(--white-color);
        border-radius: var(--bs-border-radius);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
        border: 0.74px solid #ebebeb;
        overflow: hidden;
        height: 100%;


        @media(max-width:575px){
            padding-bottom: rem(14.18);
        }
    }

    &__head {
        padding-top: rem(12);
        padding-bottom: rem(5);
        padding-right: rem(14);
        padding-left: rem(14);
    }

    &__h-text {
        // color: $gray-600;
        font-size: rem(11);
    }

    &__i-row {
        gap: rem(21.92);

        @media(max-width:575px){
            gap: rem(18.8);
        }
    }

    &__h-i {
        width: rem(19);
        height: rem(19);
        background-color: $gray-600;
        cursor: pointer;
        // color: rgb(137,138,140);
        
        -webkit-mask-size: contain;
        mask-size: contain;
        transition: background-color 0.3s ease  0s;
        &:hover {
            background-color: var(--bs-font-color);
        }

        @media(max-width:575px){
            width: rem(15);
            height: rem(15);
        }
    }

    &__h-i-like {
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjYzMzEgMy45NjE5MUM4LjE2OTU2IDIuMjE1OSA1LjY3ODY0IDEuNzQ1ODQgMy44MDcwNyAzLjM0NDk0QzEuOTM1NSA0Ljk0NDA1IDEuNjcyMDIgNy42MTc2NyAzLjE0MTc3IDkuNTA5NDRDNC4zNjM3NyAxMS4wODE0IDguMDYxOTYgMTQuMzk3OCA5LjI3NDAyIDE1LjQ3MTJDOS40MDk2MyAxNS41OTEzIDkuNDc3NDMgMTUuNjUxNCA5LjU2NTIgMTUuNjc1QzkuNjI1NTQgMTUuNjk1NiA5LjY5NTQ2IDE1LjY5NTYgOS43NTU4IDE1LjY3NUM5Ljg0MzU3IDE1LjY1MTQgOS45MTEzNyAxNS41OTEzIDEwLjA0NyAxNS40NzEyQzExLjI1OTEgMTQuMzk3OCAxNC45NTczIDExLjA4MTQgMTYuMTc5MyA5LjUwOTQ0QzE3LjY0OSA3LjYxNzY3IDE3LjQyMzMgNC45MjcyMyAxNS41MTk1IDMuMzQ0OTRDMTMuNjE1NyAxLjc2MjY2IDExLjE1NzEgMi4yMTU5IDkuNjYzMzEgMy45NjE5MVoiIHN0cm9rZT0iIzg5OEE4QyIgc3Ryb2tlLXdpZHRoPSIxLjQ5NDIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+Cjwvc3ZnPg==');
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkuNjYzMzEgMy45NjE5MUM4LjE2OTU2IDIuMjE1OSA1LjY3ODY0IDEuNzQ1ODQgMy44MDcwNyAzLjM0NDk0QzEuOTM1NSA0Ljk0NDA1IDEuNjcyMDIgNy42MTc2NyAzLjE0MTc3IDkuNTA5NDRDNC4zNjM3NyAxMS4wODE0IDguMDYxOTYgMTQuMzk3OCA5LjI3NDAyIDE1LjQ3MTJDOS40MDk2MyAxNS41OTEzIDkuNDc3NDMgMTUuNjUxNCA5LjU2NTIgMTUuNjc1QzkuNjI1NTQgMTUuNjk1NiA5LjY5NTQ2IDE1LjY5NTYgOS43NTU4IDE1LjY3NUM5Ljg0MzU3IDE1LjY1MTQgOS45MTEzNyAxNS41OTEzIDEwLjA0NyAxNS40NzEyQzExLjI1OTEgMTQuMzk3OCAxNC45NTczIDExLjA4MTQgMTYuMTc5MyA5LjUwOTQ0QzE3LjY0OSA3LjYxNzY3IDE3LjQyMzMgNC45MjcyMyAxNS41MTk1IDMuMzQ0OTRDMTMuNjE1NyAxLjc2MjY2IDExLjE1NzEgMi4yMTU5IDkuNjYzMzEgMy45NjE5MVoiIHN0cm9rZT0iIzg5OEE4QyIgc3Ryb2tlLXdpZHRoPSIxLjQ5NDIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+Cjwvc3ZnPg==');
        mask-repeat: no-repeat;
        mask-size: contain; 

        &._active {
            background-color: #ff263c;
        }
    }

    &__h-i-stat {
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOSAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTMuODc4MSAxNC44NDA4VjcuNDgzMDJNOS40NjM0OCAxNC44NDA4VjMuMDY4MzZNNS4wNDg4MyAxNC44NDA4VjEwLjQyNjEiIHN0cm9rZT0iIzg5OEE4QyIgc3Ryb2tlLXdpZHRoPSIyLjY0ODc5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+Cjwvc3ZnPg==');
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOSAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTMuODc4MSAxNC44NDA4VjcuNDgzMDJNOS40NjM0OCAxNC44NDA4VjMuMDY4MzZNNS4wNDg4MyAxNC44NDA4VjEwLjQyNjEiIHN0cm9rZT0iIzg5OEE4QyIgc3Ryb2tlLXdpZHRoPSIyLjY0ODc5IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIC8+Cjwvc3ZnPg==');
        mask-repeat: no-repeat;
        mask-size: contain;
    }

    &__img-box {
        .carousel-inner {
            padding-bottom: rem(20);
        }
        .carousel-item {
            @include adaptiveClamp(height, 172, 147);

            @media(max-width:360px){
                height: rem(110);
            }
        }

    }

    &__body {
        padding-left: rem(14);
        padding-right: rem(14);
        padding-bottom: rem(14);
        gap: rem(9);
        flex: auto;

        .btn {
            margin-top: rem(4.5);
        }

        @media(max-width:575px){
            padding-top: rem(10);
            padding-bottom: 0;
            padding-left: rem(12);
            padding-right: rem(12);
        }

    }

    &__star-box {
        gap: rem(4.77);
    }

    &__star-row {
        gap: rem(2.38);
    }
    &__star {
        width: rem(11);
        height: rem(11);
        background-color: #dadcde;
        // cursor: pointer;
        // color: rgb(137,138,140);
        -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOC43NiAxMC4xNDk4TDUuNTg3MjQgOC40NjYzM0wyLjQxNDQ4IDEwLjE0OThMMi45OTcyMyA2LjY1MzMyTDAuNDA3MjI3IDQuMTI4MDdMMy45Njg0OSAzLjYxMDA3TDUuNTIyNDkgMC4zNzI1NTlMNy4wNzY0OSAzLjYxMDA3TDEwLjYzNzggNC4xMjgwN0w4LjE3NzI1IDYuNjUzMzJMOC43NiAxMC4xNDk4WiIgZmlsbD0iI0ZENTUyMSIvPgo8L3N2Zz4=');
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOC43NiAxMC4xNDk4TDUuNTg3MjQgOC40NjYzM0wyLjQxNDQ4IDEwLjE0OThMMi45OTcyMyA2LjY1MzMyTDAuNDA3MjI3IDQuMTI4MDdMMy45Njg0OSAzLjYxMDA3TDUuNTIyNDkgMC4zNzI1NTlMNy4wNzY0OSAzLjYxMDA3TDEwLjYzNzggNC4xMjgwN0w4LjE3NzI1IDYuNjUzMzJMOC43NiAxMC4xNDk4WiIgZmlsbD0iI0ZENTUyMSIvPgo8L3N2Zz4=');
        mask-repeat: no-repeat;
        mask-size: contain;
        
        &.orange {
            background-color: var(--bs-orange);
        }
    }

    &__star-text {
        font-size: rem(10);
        // line-height: 0.5;
        margin-bottom: rem(-2);
    }

    div {
        // flex: auto;
        margin-bottom: auto;

        @media(max-width:575px){
            font-size: rem(11);
        }
    }
    &__text {
        margin: 0;
        font-size: rem(12);

        &.big {
            font-size: rem(18);
            margin-bottom: rem(-2);
        }

        @media(max-width:575px){
            font-size: rem(10);

            &.big {
                font-size: rem(17);
            }
        }
    }
    &__price {
        gap: rem(8);
        .prod-card__text {
            letter-spacing: 0.01em;
        }
    }
}


.more {
    color: var(--bs-gray);
    cursor: pointer;
    transition: color 0.3s ease  0s;
    font-size: rem(18);
    line-height: 150%;
    &:hover {
        color: var(--black-color);
    }
}

.pagination {
    @include adaptiveClamp(padding-bottom, 80, 50);

    .page-item {
        &.active .page-link {
            border-color: var(--bs-orange);
            color: var(--bs-orange);
        }
    }
    .disabled {
    }
    .page-link {
        // border: none;
        border-radius: 6px;
        margin: 0;
        background: #ffffff00   ;
        color: var(--bs-gray);
        width: rem(32);
        height: rem(32);
        padding: rem(5) rem(2) rem(2);
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #fff;
        box-shadow: none;
        font-size: rem(18);

        &:hover {
            border-color: var(--bs-gray);
        }
        &:active {

        }

        
    }
    .page-item-str {
        .page-link {
            padding: rem(2);
        }
    }
    .active {
    }
    
    .more {
        padding: rem(2);
    }
}
