// Заголовки, общие БЄМ блоки и проче...


// a, p, span {
//     transition: color 0.3s ease  0s;
// }


.font-2 {
    font-family: druktextwidecyr;
}
h1 {
    @include adaptiveClamp(font-size, 55, 23);
    margin-bottom: 0;
    font-weight: 700;

    @media(max-width:1199px){
        @include adaptiveClamp(font-size, 40, 23);
    }
}
.t-two {
    @include adaptiveClamp(font-size, 40, 24);
    font-weight: 700;
}
p {
    margin: 0;
}

.bs-t-big {
    @include adaptiveClamp(font-size, 20, 14);
}

.t-gray {
    color: $gray-600;
}
.t-green {
    color: var(--bs-green);
}
.t-orange {
    color: var(--bs-orange);
}
.t-elips-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bs-head {
    display: flex;
    align-items: end;
    @include adaptiveClamp(margin-bottom, 50, 36.5);
    @include adaptiveClamp(gap, 20, 16);

    @media(max-width:1199px){
        @include adaptiveClamp(margin-bottom, 40, 36.5);
    }
}

.btn {
    color: var(--white-color);
    padding: rem(7) rem(29) rem(5.4);

    &:hover, &:active {
        color: var(--white-color) !important;
    }

    @media(max-width:1199px){
        padding: rem(7) rem(25.5) rem(5.4);
    }
    &.big {
        font-size: rem(17);
        letter-spacing: -0.02em;
        padding: rem(14.3) rem(29) rem(13.3);

        @media(max-width:1199px){
            font-size: rem(14);
            padding: rem(14.3) rem(20) rem(13.3);
        }
    }

    &.gray {
        background: #f3f3f3;
        font-size: rem(14);
        padding: rem(15);
        border-radius: 6px;
        color: #292929;
        color: $body-color;
        
        &:hover {
            color: #292929 !important;
            background: #dfdfdf;
        }
    }

    &.two {
        font-size: rem(14);
        padding: rem(17) rem(15) rem(13);
        border-radius: 6px;
    }
}

.btn-close {
    width: rem(16);
    min-height: rem(16);
    opacity: 1;
    box-shadow: none ;
    &:active, &:focus,&:hover {
        box-shadow: none;
    }

    --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 17L1 1M17 1L1 17' stroke='%23292929' stroke-linecap='round'/%3E%3C/svg%3E");
    opacity: 1;
  }

.bs-link {
    transition: color 0.3s ease  0s;
    cursor: pointer;

    &:hover {
        color: var(--bs-orange);
    }
}
.link-min {
    font-size: rem(14);
    color: #a0a0a0;

    transition: color 0.3s ease  0s;
    cursor: pointer;

    &:hover {
        color: var(--bs-orange);
    }
}
.carousel-indicators {
    padding-top: rem(5);
    padding-bottom: rem(12);
    margin: 0;
    & [data-bs-target] {
        background-color: var(--bs-gray);
        border-radius: 6px;
        width: rem(14);
        height: rem(3);
        background-clip: none;
        border: none;
        margin-right: rem(2);
        margin-left: rem(2);
        &.active {
            background-color: #656565;
        }
    }
}


.crumbs {
    .container {
        padding-top: rem(16);
        gap: rem(4) rem(8) ;
        @include adaptiveClamp(padding-bottom, 58, 42.5);
    }

    a, span {
        font-size: rem(14);
        color: var(--bs-gray-700);
    }
    
    a {
        transition: color 0.3s ease  0s;
        &:hover {
            color: var(--bs-body-color);
        }
        &:last-child {
            pointer-events: none;
            color: var(--bs-body-color);
        }
    }
}


//form
.form-control {
    font-size: rem(16);
    padding: rem(17) rem(20) rem(13);
    box-shadow: none;
    border: 1px solid #a0a0a0;
    &::placeholder {
        color: #a0a0a0;
    }
    &:focus {
        box-shadow: none;
        border-color: #a0a0a0;
    }
    
    
    .form-control-item.icon-ch & {
        padding-right: rem(46);

        &:focus + .icon {
            opacity: 0;
        }
    }
}
.form-control-item {
    position: relative;

    &._ok {
        &::before {
            position: absolute;
            content: '';
            width: rem(18);
            height: rem(19);
            right: rem(20);
            top: 50%;
            transform: translateY(-50%);
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 18.5C10.1819 18.5 11.3522 18.2672 12.4442 17.8149C13.5361 17.3626 14.5282 16.6997 15.364 15.864C16.1997 15.0282 16.8626 14.0361 17.3149 12.9442C17.7672 11.8522 18 10.6819 18 9.5C18 8.3181 17.7672 7.14778 17.3149 6.05585C16.8626 4.96392 16.1997 3.97177 15.364 3.13604C14.5282 2.30031 13.5361 1.63738 12.4442 1.18508C11.3522 0.732792 10.1819 0.5 9 0.5C6.61305 0.5 4.32387 1.44821 2.63604 3.13604C0.948212 4.82387 0 7.11305 0 9.5C0 11.8869 0.948212 14.1761 2.63604 15.864C4.32387 17.5518 6.61305 18.5 9 18.5ZM8.768 13.14L13.768 7.14L12.232 5.86L7.932 11.019L5.707 8.793L4.293 10.207L7.293 13.207L8.067 13.981L8.768 13.14Z' fill='%23329652' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 2;
        }
        & input {
            padding-right: rem(50);
        }
    }
    &._error input {
        border-color: red;
    }


    .icon {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(20);
        opacity: 0;
        transition: all 0.2s ease  0s;
    }

    &.icon-active .icon {
        opacity: 1;
    }
}
.form-check {
    display: flex;
    align-items: center;
    gap: rem(17);
    letter-spacing: -0.02em;
    cursor: pointer;
    padding: 0;
    width: 100%;

    @media(max-width:1199px){

        letter-spacing: -0.03em;
    }

    &:hover {
        color: var(--bs-orange);
    }
    &-input {
        display: none;

        &:checked + .form-check-icon::before {
            opacity: 1;
        }
        &:checked + .form-check-icon {
            border-color: var(--bs-orange);
        }
    }

    &-icon {
        position: relative;
        width: rem(21);
        min-width: rem(21);
        height: rem(21);
        border: 0.50px solid #4e4e4e;
        border-radius: 2px;
        background: var(--white-color);
        overflow: hidden;
        &::before {
            position: absolute;
            content: '';
            width: rem(21);
            height: rem(21);
            background: url(@img/check-icon.svg) no-repeat center center / contain;
            top:rem(-1);
            left: 0;
            margin: rem(-1);
            opacity: 0;
        }

        @media(max-width:1199px){
            width: rem(19.77);
            height: rem(19.77);
            &::before {
                width: rem(19.77);
                height: rem(19.77);
            }
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(4);
        transition: color 0.3s ease  0s;

        @media(max-width:1199px){
            gap: rem(2);
        }
        .min {
            font-size: rem(13);
            margin-bottom: rem(-4);

            @media(max-width:1199px){
                font-size: rem(12);
            }
        }
    }
}
.input-password {

    &.form-control {
        padding-right: rem(50);
    }
    &-item {
        position: relative;
    }
    &-show {
        position: absolute;
        right: rem(20);
        top: 50%;
        transform: translateY(-50%);

        svg {
            path.line-show {
                stroke: #00000000;
            }
            
        }
        ._show & {
            svg {
                .line-show {
                    stroke: #C9C9C9;
                }
            }
        }
    }




}
.item-radio {
    display: flex;
    align-items: center;
    gap: rem(15);
    font-size: rem(20);

    &__input {
        display: none;

        &:checked + .item-radio__icon::before {
            opacity: 1;
        }
    }

    &__icon {
        width: rem(22);
        height: rem(22);
        border: 1px solid var(--bs-orange);
        border-radius: 50%;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: rem(14);
            height: rem(14);
            background: var(--bs-orange);
            top:50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            border-radius: 50%;
            opacity: 0;
        } 
    }

    span {
        padding-top: rem(4);
    }

    @media(max-width:1199px){
        span {
            padding-top: rem(3);
        }
        font-size: rem(14);
    }
}

.form-file {
    position: relative;
    input {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;   
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);
    color: $gray-400;
    transition: all 0.3s ease  0s;
    svg {
        path {
            transition: all 0.3s ease  0s;
        }
    }

    &:hover {
        color: var(--bs-orange);
        svg {
            path {
                stroke: var(--bs-orange);
            }
        }
    }
}





.range {
    margin-bottom: rem(20);
}
.wrapper .range__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: #292929;
    margin-bottom: 12px;
}
.range__row-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(16);
    margin-bottom: 37.5px;

    @media(max-width:1199px){
        gap: rem(10);
    }
}
.range__item-input {
    display: flex;
    align-items: start;
    border: 0.50px solid #4e4e4e;
    border-radius: var(--bs-border-radius);
    padding: rem(11) rem(16);
    font-weight: 400;
    font-size: rem(17);
    line-height: 129%;
    color: #292929; 
    width: auto;
    min-height: 0;
    background: none;

    @media(max-width:1199px){
        font-size: rem(12);
        padding: rem(5.3) rem(10.53);
    }
}
.range__item-input input {
    display: inline-block;
    border: none;
    padding: 0;
    min-width: 0;
    font-weight: 400;
    font-size: rem(17);
    line-height: 129%;
    color: #292929;
    background: none;
    /* width: 100%; */
    /* flex: auto; */

    @media(max-width:1199px){
        font-size: rem(12);
    }
}
.range__item-input p {
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: #292929;

    @media(max-width:1199px){
        font-size: rem(12);
    }
}
.range__item-input p:first-child {
    margin-right: 8px;
}





.gap-20 {
    gap: rem(20);
}

.dropdown-menu.show {
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px;

    .dropdown-item {
        transition: all 0.3s ease  0s;
        padding-top: rem(6.5);
    }


}



// .form-check {
//     display: flex;
//     align-items: start;
//     font-size: rem(14);
//     gap: rem(20);

//     span {
//         transition: all 0.3s ease  0s;
//     }

//     input:checked + .form-check-icon {
//         border-color: var(--bs-orange);
//     }
// }
// .form-check-icon {
//     position: relative;
//     border-radius: 4px;
//     border: 0.67px solid #292929;
//     width: rem(20);
//     min-width: rem(20);
//     height: rem(20);
//     padding: rem(2);
    

//     &::before {
//         position: static;
//         content: '';
//         display: block;
//         width: 100%;
//         height: 100%;
//         border-radius: 3px;
//         background: var(--bs-orange);
//         margin: 0;
//         left: 0;
//         top: 0;
//         transition: all 0.15s ease  0s;
//     }

// }